/**

 * @name Dark Discord
 * @version 1.0
 * @description An actual dark mode for discord.
 * @source https://github.com/hellbound1337/dark-discord-archive
 * @authorId 426147523305144322
 * @author hellbound

**/

@import url(https://raw.githack.com/hellbound1337/dark-discord/master/src/source.css);

.theme-light,
.theme-dark,
:root {
   --background-secondary: #000000;
   --background-secondary-alt: #000000;
   --background-tertiary: #000000;
   --background-primary: #000000;
   --submenu-color: rgba(18, 63, 80, 0.85);
   --background-primary: #000000 !important;
   --background-secondary: #000000 !important;
   --background-secondary-alt: #2929291 !important;
   --background-tertiary: #000000 !important;
   --background-accent: #000000 !important;
   --background-floating: black !important;
   --background-modifier-hover: rgba(255, 255, 255, 0.01) !important;
   --background-modifier-active: rgba(255, 255, 255, 0.03) !important;
   --background-modifier-selected: rgba(255, 255, 255, 0.04) !important;
   --background-modifier-accent: hsla(0, 0%, 100%, 0.06) !important;
   --channeltextarea-background: var(--background-accent) !important;
   --deprecated-card-bg: rgba(0, 0, 0, 0.2) !important;
   --deprecated-card-editable-bg: rgba(0, 0, 0, 0.1) !important;
   --deprecated-text-input-bg: var(--deprecated-card-editable-bg) !important;
   --deprecated-text-input-border: var(--background-floating) !important;
   --deprecated-text-input-border-disabled: var(--background-tertiary) !important;
   --activity-card-background: var(--background-primary) !important;
   --channels-default: #9f9f9f !important;
   --text-muted: #b6b6b6 !important;
   --text-normal: #fbfbfb !important;
   --interactive-normal: #c8c8c8 !important;
   --interactive-hover: #dcddde !important;
   --interactive-active: #fff !important;
   --interactive-muted: #747474 !important;
   --header-primary: white !important;
   --header-secondary: #c9c9c9 !important;
   --toast-background: var(--background-primary) !important;
   --toast-header: var(--background-tertiary) !important;
   --toast-contents: var(--background-secondary) !important;
   --toast-box-shadow: rgba(0, 0, 0, 0.2) !important;
   --toast-border: var(--background-tertiary) !important;
}
element.style {
}
.theme-dark .headerNormal-T_seeN {
    background-color: #000000;
}
.headerNormal-T_seeN {
}
.header-2BwW8b {
    color: #fff;
    line-height: 50px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.size16-14cGz5 {
    font-size: 14px;
}
a, button, div, input, select, span, strong, textarea {
    outline: 0;
}
element.style {
}
.container-2lgZY8 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.appMount-3lHmkl, body {
    background-color: var(--background-tertiary);
    text-rendering: optimizeLegibility;
}
.appMount-3lHmkl {
    position: absolute;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.appMount-3lHmkl, body, html {
    height: 100%;
    width: 100%;
}
body {
    line-height: 1;
    margin: 0;
    padding: 0;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: black;
}
